* {
    box-sizing: border-box;
  }

body, html {
    margin: 0;
    font-family: Georgia;
    height: 100%;
}

#page {
    display: flex;
    flex-direction: column;
}

p {
    font-size: 1.2em;
}

/*-----------------------------------------------HEADER SECTION STYLING-----------------------------------------------*/

#header {
    display: flex;
    justify-content: space-between;
    background-color: #990001; 
    padding: 0.5em 1em;
    color: white;
    height: 14vh;
}

#homeIcon {
    height: 5em;
    width: auto;
}

#leftHeader {
    display: flex;
    align-items: center;
    gap: 1em;
}

#rightHeader {
    display: flex;
    gap: 2em;
    padding: 1em;
}

.headerButton {
    font-family: Georgia;
    color: white;
    font-size: medium;
    padding: 1.5em 2em;
    background-color: transparent;
    border: none;
    border-radius: 0.8em;
    margin: none;
}

.headerButton:hover {
     background-color: #6b0102;
     cursor: pointer;
}

/*-----------------------------------------------HERO SECTION STYLING-----------------------------------------------*/

#hero {
    background-image: url('/images/evk_img.png');
    background-size: cover;
    background-position: center;
    height: 86vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
  }

#heroText {
    color: white;
    font-size: 13vh;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

#downArrow {
    height: 5em;
    width: auto;
}

/*-----------------------------------------------SEARCH BAR SECTION STYLING-----------------------------------------------*/

.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchSection {
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    padding: 0.5em;
    border-radius: 1.5em;
    width: fit-content;
}

#form {
    display: flex;
    align-items: center;
}

#searchBar {
    width: 50vw;
    border: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
    font-family: Georgia;
    font-size: 2em;
}

#searchBar:focus {
    outline: none;
}

#searchBar::-webkit-search-cancel-button {
    display: none;
  }

.searchIMG {
    height: 2em;
    width: auto;
}

.searchButton {
    background: none;
    border: none;
    opacity: 50%;
    transition-duration: 0.3s;
}

.searchButton:hover {
    opacity: 100%;
}

/*-----------------------------------------------DROP DOWN SECTION STYLING-----------------------------------------------*/

#dropdown {
    width: 100%;
    background-color: white;
    display: none; 
    max-height: 10em;
    overflow-y: scroll;
  }

.dropdownItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid lightgray;
    font-size: 1.3em;
    padding: 0.2em 0.8em;
}

.dropdownSizing {
    margin: 0;
}

/*-----------------------------------------------DINING HALL INFORMATION-----------------------------------------------*/

#diningHallInfo {
    display: flex;
    width: 80vw;
    padding: 0;
    gap: 1em;
}

#descriptionHeader {
    font-size: 4.5em;
}

#leftSection {
    flex: 2;
    margin: 0;
    background-color: #990001;
    color: white;
    border-radius: 0.8em;
    padding: 1em;
}

#rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0.8em;
    gap: 1em;
}

#menu {
    flex: 2;
    border-radius: 0.8em;
    background-color: #FFF5E1;
    padding: 1em;
}

/*-----------------------------------------------CROWD INFO INFORMATION-----------------------------------------------*/

#crowdSection {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: none;
    border-radius: 0.8em;
    background-color: #E0E0E0;
    padding: 1em;
}

#crowdIMG {
    width: 4em;
    height: auto;
    margin-right: 1em;
}

#crowdTitle {
    margin: 0;
}

#crowdDescription {
    margin: 0;
}

.crowdCircle {
    font-size: 3em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}